/*-- scss:defaults --*/
$toc-color: red;
$link-color: red !default;
$dropdown-link-color: red;

// set font
$web-font-path: false; // disable Google Fonts
$font-family-sans-serif: "Source Sans 3" !default;